<h1 class="mt-3">Selectores anidados</h1>
<hr>

<form [formGroup]="myForm">

<!-- Region  -->
<div class="row mb-3">
  <div class="col">
    <label class="form-label">Continente:</label>
    <select formControlName="region" class="form-control">
      <option value="">-- Seleccione un continente --</option>
      @for (region of regions; track $index) {
        <option [value]="region">{{region}}</option>
      }
    </select>
  </div>
</div>

<!-- Countries  -->
@if (countriesByRegion.length > 0) {
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">País:</label>
      <select formControlName="country" class="form-control">
        <option value="">-- Seleccione un país --</option>
        @for (country of countriesByRegion; track $index) {
          <option [value]="country.cca3">{{country.name}}</option>
        }
      </select>
    </div>
  </div>
}

<!-- Borders  -->
@if (borders.length > 0) {
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Fronteras:</label>
      <select formControlName="border" class="form-control">
        <option value="">-- Seleccione la frontera --</option>
        @for (border of borders; track $index) {
          <option [value]="border.cca3">{{border.name}}</option>
        }
      </select>
    </div>
  </div>
}

</form>

<h3>Formulario</h3>
<code>
  {{myForm.value | json}}
</code>
<p>
  is form valid: {{myForm.valid}}
</p>
